
.jumbotron{
    text-align: center;
    background-color: rgb(46, 46, 192);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1Search{
    text-align: center;
}

button {
    margin-top: 5px;
}

.current {
    border: solid 2px black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fiveDay {
    text-align: center;
    margin: 20px;
}

.cards{
    margin:1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

