body {
    background-color: rgb(126, 196, 100);
    border: none;
}

h1 {
    text-align: center;
    margin: 40px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    border-radius: 3px;
    text-align: center;
    margin-top: 15px;
}

.search {
    background-color: inherit;
}

#location {
    margin-bottom: 5px;
}

#submit-btn {
    background-color: #5555a5;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}

.card {
    background-color: inherit;
    border: none;
    text-align: center;
}

.current {
    flex: 1 1 0%;
}
