


#h1Search{
    text-align: center;
    
}

button {
    margin-top: 5px;
}

.current {
    border: solid 2px black;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.cards{
    margin:10px;
}